---
layout: post

title: Tags

generator: [projects_tag_index, pagination]

pagination:
    provider: page.tag_projects
    max_per_page: 10

---

<div class="row">
    
    <h1 class="col-md-12">Projets : <em>{{ page.tag }}</em></h1>


    <div class="col-md-10 col-md-offset-1">
        <div class="row">

            <ul class=" col-md-10 col-md-offset-1">

                {% for post in page.pagination.items %}
                
                    <li class="">
                        <h3 class="title">
                            {% if post.page %}
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            {% else %}
                                {{ post.title }}
                            {% endif %}
                        </h3>
                        <h6 class="date">{{ post.date | date('d M Y', timezone="Europe/Paris") }}</h6>
                    </li>

                {% endfor %}

            </ul>
        </div>
    </div>


    {% if page.pagination.previous_page or page.pagination.next_page %}

         <h3 class="mt6 col-md-12">

            {% if page.pagination.previous_page %}
                <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">
                    Suivants →
                </a>
            {% endif %}

            {% if page.pagination.next_page %}
                <a href="{{ site.url }}{{ page.pagination.next_page.url }}">
                    ← Précédents
                </a>
            {% endif %}
       
       </h3>

    {% endif %}


   
</div>



