---
layout: default
title: Projets
permaling: /projects/
---

<h1 class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
    Projects
</h1>

<p class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-1">
    Here are a list of all my tech projects, small or big, personnal or for
    scholl. <br>
    You can find a lot of them on my <a href="http://github.com/guillaumewuip">Github</a>.
</p>


<div class="projectsList col-md-10 col-md-offset-1 col-sm-12 col-xs-12 mt3">

    <div class="row">

{% for project in site.projects reversed %}

       <div class="projetsList__item col-md-12 col-sm-12 col-xs-12 {% if project.page %} big {% endif %}">
            <div class="row">

                <div class="date col-md-2 col-sm-3 inline xs-hidde inline taCenter">
                    <p>{{ project.date | date: "%b %Y" }}</p>
                </div><!--

             --><div class="info col-md-8 col-sm-9 col-xs-12 inline">
                    <h2>{{ project.title }}</h2>

                    <h3 class="p md-hidde sm-block xs-block">
                        {{ project.date | date : "%b %Y" }}

                        {% if project.page %}
                             | <span><a href="{{ project.url }}">See</a></span>
                        {% endif %}
                    </h3>

                    <p> {{ project.desc | raw }} </p>

                    <div>
                        {% for tag in project.tags %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>

                </div><!--

             -->{% if project.page %}<div class="link col-md-2 col-xs-2 hidde md-inline">
                    <span><a href="{{ project.url }}" class="button p ">See</a></span>
                </div>
                {% endif %}

            </div>
        </div>

{% endfor %}

    </div>

</div>

