
/**
 * BASE
 */


//$siteurl : "http://192.168.0.26:8000/";
//$siteurl : "http://wuips.com/guillaume/new/";
$siteurl : "http://guillaume.wuips.com/guillaume/";


$screen-xs-max: 767 +px;
$screen-sm-min: 768 +px;
$screen-sm-max: 991 +px;

$screen-md-min: 992 +px;
$screen-md-max: 1199 +px;
$screen-lg-min: 1200 +px;


$base-font-size : 16; //font-size de html


html, body {
    margin: 0;
    padding: 0;

    font-size: $base-font-size +px;

    width: 100%;
    max-width:100%;

    overflow-x: hidden;
}





/**
 * Colors
 */

$white : #fff;

$olive : #3D9970;

$grisMoyen : #AAA;
$grisDark : #777;
$black : #111;





/**
 * Inline-Block :
 */


/**
    $Display
 */

.hidde {
    display: none;
}

.block {
    display: block;
}






/**
 * Inline-Block :
 */


.inline {
    display: inline-block;
    float: none; //to overwrite bootstrap
    vertical-align: middle;
}

.inlineWF { //inline that accepts float
    display: inline-block;
    vertical-align: middle;
}

/* .inline:after{
    content:"";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
} */


/**
 * Display table + table-cell
 */

.dTable {
    display: table;
}

.dTableRow {
    display: table-row;
}

.dTableCell {
    display: table-cell;
}






.overflowHidden {
    overflow: hidden;
}





/**
    $Align, Float, Margins
 */


/**
 * Text-align
 */

.taCenter {
    text-align: center;
}

.taLeft {
    text-align: left;
}

.taRight {
    text-align: right;
}


/**
 * Vertical-Align
 */


.vTop {
    vertical-align: top;
}

.vBottom {
    vertical-align: bottom;
}

.vMiddle {
    vertical-align: middle;
}


.fLeft {
    float: left;
}
.fRigth {
    float: right;
}
.noFloat {
    float: none;
}
.clear {
    clear: both;
}


/**
 * Width
 */


.w0{ width : 0;}

.w10 { width: 9.8%;}
.w17 { width: 16.3%}
.w20 { width: 19.8%;}
.w30 { width: 29.8%;}
.w50 { width: 49.8%;}
.w60 { width: 59.8%;}
.w70 { width: 69.8%;}
.w80 { width: 79.8%;}
.w90 { width: 89.8%;}
.w100 { width: 100%; }

.mw10 { max-width: 9.8%;}
.mw17 { max-width: 16.3%}
.mw20 { max-width: 19.8%;}
.mw30 { max-width: 29.8%;}
.mw40 { max-width: 39.8%;}
.mw50 { max-width: 49.8%;}
.mw60 { max-width: 59.8%;}
.mw70 { max-width: 69.8%;}
.mw80 { max-width: 79.8%;}
.mw90 { max-width: 89.8%;}
.mw100 { max-width: 100%;}


/**
 * Height
 */


.h0{ height : 0;}
.h100 { height: 100%; }
.h2-5em{
    height : 2.5em;
} 


/**
 * Margins
 */

@mixin margin-top($t) {
    margin-top: $t*20 +px;
    margin-top: $t +rem;
}

@mixin margin-right($l) {
    margin-right: $l*20 +px; 
    margin-right: $l +rem; 
}

@mixin margin-bottom($b) {
    margin-bottom: $b*20 +px;  
    margin-bottom: $b +rem;  
}

@mixin margin-left($r) {
    margin-left: $r*20 +px;
    margin-left: $r +rem;
}

@mixin margin($t, $r, $b, $l) {
    @include margin-top($t);
    @include margin-right($r);
    @include margin-bottom($b);
    @include margin-left($l);
}

.m0{
    margin: 0;
}

@for $i from 0 through 12 {
    .mt#{$i} { 
        @include margin-top($i);    
    }
    .mr#{$i} { 
        @include margin-right($i);  
    }
    .ml#{$i} { 
        @include margin-left($i);   
    }
    .mb#{$i} { 
        @include margin-bottom($i); 
    }
}




/*
    Paddings
 */


@mixin padding-top($t) {
    padding-top: $t*20 +px;
    padding-top: $t +rem;
}

@mixin padding-right($l) {
    padding-right: $l*20 +px; 
    padding-right: $l +rem; 
}

@mixin padding-bottom($b) {
    padding-bottom: $b*20 +px;  
    padding-bottom: $b +rem;  
}

@mixin padding-left($r) {
    padding-left: $r*20 +px;
    padding-left: $r +rem;
}

@mixin padding($t, $r, $b, $l) {
    @include padding-top($t);
    @include padding-right($r);
    @include padding-bottom($b);
    @include padding-left($l);
}

.p0 {
    padding: 0;
}

@for $i from 0 through 3 {
    .pt#{$i} { 
        @include padding-top($i);   
    }
    .pr#{$i} { 
        @include padding-right($i); 
    }
    .pl#{$i} { 
        @include padding-left($i);  
    }
    .pb#{$i} { 
        @include padding-bottom($i);    
    }
}


/*
    $Lists
 */


/*ul, li*/ .noListStyle {
    list-style: none;
}

li {
    @include margin-bottom(0.4);
}


/**
 * $Images
 */


img {
    border-radius : 2px;
}

@each $side in right, left {
    .no-top-#{$side}-radius {
        border-top-#{$side}-radius: 0;
    }
    .no-bottom-#{$side}-radius {
        border-bottom-#{$side}-radius: 0;
    }
}


figure {
    @include padding(1, 1, 1, 1);
}
    figure img {
        max-width: 100%;
        display : block;
    }

    figure figcaption {
        @include margin-top(1);
        font-style: italic;
    }





/**
 * Other blocks
 */


pre {
    @include margin(1.6,1,1.6,1);
}





/**
 * Animations / Transitions
 */


@mixin transition($time: 0.5, $what: all, $function: ease) {
    -webkit-transition: $what $time +s $function;
    -moz-transition: $what $time +s $function;
    -o-transition: $what $time +s $function;
    -ms-transition: $what $time +s $function;
    transition: $what $time +s $function;
}

@mixin animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms) {
  // There is a FF bug that requires all time values to have units, even 0 !!!!!!
  -webkit-animation: $name $duration $iterations $timing-function $delay;
  -moz-animation: $name $duration $iterations $timing-function $delay;
  -o-animation: $name $duration $iterations $timing-function $delay;
  animation: $name $duration $iterations $timing-function $delay;
}




/**
 * Media-queries
 */


//XS
$device: 'xs';
@media (max-width: $screen-xs-max) {

    .#{$device}-font-size-14 {
        font-size: 14px;
    }
   
    //Margins
    .#{$device}-m0{
        margin: 0;
    }
    @for $i from 0 through 12 {
        .#{$device}-mt#{$i} { 
            @include margin-top($i);    
        }
        .#{$device}-mr#{$i} { 
            @include margin-right($i);  
        }
        .#{$device}-ml#{$i} { 
            @include margin-left($i);   
        }
        .#{$device}-mb#{$i} { 
            @include margin-bottom($i); 
        }
    }

    //Paddings
    .#{$device}-p0 {
        padding: 0;
    }
    @for $i from 0 through 3 {
        .#{$device}-pt#{$i} { 
            @include padding-top($i);   
        }
        .#{$device}-pr#{$i} { 
            @include padding-right($i); 
        }
        .#{$device}-pl#{$i} { 
            @include padding-left($i);  
        }
        .#{$device}-pb#{$i} { 
            @include padding-bottom($i);    
        }
    }

    //Widths
    .#{$device}-w0{ width : 0;}

    .#{$device}-w10 { width: 9.8%;}
    .#{$device}-w17 { width: 16.3%}
    .#{$device}-w20 { width: 19.8%;}
    .#{$device}-w30 { width: 29.8%;}
    .#{$device}-w50 { width: 49.8%;}
    .#{$device}-w60 { width: 59.8%;}
    .#{$device}-w70 { width: 69.8%;}
    .#{$device}-w80 { width: 79.8%;}
    .#{$device}-w90 { width: 89.8%;}
    .#{$device}-w100 { width: 100%; }

    .#{$device}-mw10 { max-width: 9.8%;}
    .#{$device}-mw17 { max-width: 16.3%}
    .#{$device}-mw20 { max-width: 19.8%;}
    .#{$device}-mw30 { max-width: 29.8%;}
    .#{$device}-mw40 { max-width: 39.8%;}
    .#{$device}-mw50 { max-width: 49.8%;}
    .#{$device}-mw60 { max-width: 59.8%;}
    .#{$device}-mw70 { max-width: 69.8%;}
    .#{$device}-mw80 { max-width: 79.8%;}
    .#{$device}-mw90 { max-width: 89.8%;}
    .#{$device}-mw100 { max-width: 100%;}

    //Inline
    .#{$device}-inline {
        display: inline-block;
        float: none; //to overwrite bootstrap
        vertical-align: middle;
    }
    .#{$device}-inlineWF { //inline that accepts float
        display: inline-block;
        vertical-align: middle;
    }

    //Table
    .#{$device}-dTable {
        display: table;
    }
    .#{$device}-dTableRow {
        display: table-row;
    }
    .#{$device}-dTableCell {
        display: table-cell;
    }

    //Block
    .#{$device}-block {
        display: block;
    }
    .#{$device}-overflowHidden {
        overflow: hidden;
    }

    .#{$device}-hidde {
        display: none;
    }

    //Text-align
    .#{$device}-taCenter {
        text-align: center;
    }
    .#{$device}-taLeft {
        text-align: left;
    }
    .#{$device}-taRight {
        text-align: right;
    }

    //Vertical-align
    .#{$device}-vTop {
        vertical-align: top;
    }
    .#{$device}-vBottom {
        vertical-align: bottom;
    }
    .#{$device}-vMiddle {
        vertical-align: middle;
    }

    //Float
    .#{$device}-fLeft {
        float: left;
    }
    .#{$device}-fRigth {
        float: right;
    }
    .#{$device}-noFloat {
        float: none;
    }
    .#{$device}-clear {
        clear: both;
    }
}




//Small
$device: 'sm';
//@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
@media (min-width: $screen-sm-min) {
   
    //Margins
    .#{$device}-m0{
        margin: 0;
    }
    @for $i from 0 through 12 {
        .#{$device}-mt#{$i} { 
            @include margin-top($i);    
        }
        .#{$device}-mr#{$i} { 
            @include margin-right($i);  
        }
        .#{$device}-ml#{$i} { 
            @include margin-left($i);   
        }
        .#{$device}-mb#{$i} { 
            @include margin-bottom($i); 
        }
    }

    //Paddings
    .#{$device}-p0 {
        padding: 0;
    }
    @for $i from 0 through 3 {
        .#{$device}-pt#{$i} { 
            @include padding-top($i);   
        }
        .#{$device}-pr#{$i} { 
            @include padding-right($i); 
        }
        .#{$device}-pl#{$i} { 
            @include padding-left($i);  
        }
        .#{$device}-pb#{$i} { 
            @include padding-bottom($i);    
        }
    }

    //Widths
    .#{$device}-w0{ width : 0;}

    .#{$device}-w10 { width: 9.8%;}
    .#{$device}-w17 { width: 16.3%}
    .#{$device}-w20 { width: 19.8%;}
    .#{$device}-w30 { width: 29.8%;}
    .#{$device}-w50 { width: 49.8%;}
    .#{$device}-w60 { width: 59.8%;}
    .#{$device}-w70 { width: 69.8%;}
    .#{$device}-w80 { width: 79.8%;}
    .#{$device}-w90 { width: 89.8%;}
    .#{$device}-w100 { width: 100%; }

    .#{$device}-mw10 { max-width: 9.8%;}
    .#{$device}-mw17 { max-width: 16.3%}
    .#{$device}-mw20 { max-width: 19.8%;}
    .#{$device}-mw30 { max-width: 29.8%;}
    .#{$device}-mw40 { max-width: 39.8%;}
    .#{$device}-mw50 { max-width: 49.8%;}
    .#{$device}-mw60 { max-width: 59.8%;}
    .#{$device}-mw70 { max-width: 69.8%;}
    .#{$device}-mw80 { max-width: 79.8%;}
    .#{$device}-mw90 { max-width: 89.8%;}
    .#{$device}-mw100 { max-width: 100%;}

    //Inline
    .#{$device}-inline {
        display: inline-block;
        float: none; //to overwrite bootstrap
        vertical-align: middle;
    }
    .#{$device}-inlineWF { //inline that accepts float
        display: inline-block;
        vertical-align: middle;
    }

    //Table
    .#{$device}-dTable {
        display: table;
    }
    .#{$device}-dTableRow {
        display: table-row;
    }
    .#{$device}-dTableCell {
        display: table-cell;
    }

    //Block
    .#{$device}-block {
        display: block;
    }
    .#{$device}-overflowHidden {
        overflow: hidden;
    }

    .#{$device}-hidde {
        display: none;
    }

    //Text-align
    .#{$device}-taCenter {
        text-align: center;
    }
    .#{$device}-taLeft {
        text-align: left;
    }
    .#{$device}-taRight {
        text-align: right;
    }

    //Vertical-align
    .#{$device}-vTop {
        vertical-align: top;
    }
    .#{$device}-vBottom {
        vertical-align: bottom;
    }
    .#{$device}-vMiddle {
        vertical-align: middle;
    }

    //Float
    .#{$device}-fLeft {
        float: left;
    }
    .#{$device}-fRigth {
        float: right;
    }
    .#{$device}-noFloat {
        float: none;
    }
    .#{$device}-clear {
        clear: both;
    }
}




//Medium
$device: 'md';
//@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
@media (min-width: $screen-md-min) {
   
    //Margins
    .#{$device}-m0{
        margin: 0;
    }
    @for $i from 0 through 12 {
        .#{$device}-mt#{$i} { 
            @include margin-top($i);    
        }
        .#{$device}-mr#{$i} { 
            @include margin-right($i);  
        }
        .#{$device}-ml#{$i} { 
            @include margin-left($i);   
        }
        .#{$device}-mb#{$i} { 
            @include margin-bottom($i); 
        }
    }

    //Paddings
    .#{$device}-p0 {
        padding: 0;
    }
    @for $i from 0 through 3 {
        .#{$device}-pt#{$i} { 
            @include padding-top($i);   
        }
        .#{$device}-pr#{$i} { 
            @include padding-right($i); 
        }
        .#{$device}-pl#{$i} { 
            @include padding-left($i);  
        }
        .#{$device}-pb#{$i} { 
            @include padding-bottom($i);    
        }
    }

    //Widths
    .#{$device}-w0{ width : 0;}

    .#{$device}-w10 { width: 9.8%;}
    .#{$device}-w17 { width: 16.3%}
    .#{$device}-w20 { width: 19.8%;}
    .#{$device}-w30 { width: 29.8%;}
    .#{$device}-w50 { width: 49.8%;}
    .#{$device}-w60 { width: 59.8%;}
    .#{$device}-w70 { width: 69.8%;}
    .#{$device}-w80 { width: 79.8%;}
    .#{$device}-w90 { width: 89.8%;}
    .#{$device}-w100 { width: 100%; }

    .#{$device}-mw10 { max-width: 9.8%;}
    .#{$device}-mw17 { max-width: 16.3%}
    .#{$device}-mw20 { max-width: 19.8%;}
    .#{$device}-mw30 { max-width: 29.8%;}
    .#{$device}-mw40 { max-width: 39.8%;}
    .#{$device}-mw50 { max-width: 49.8%;}
    .#{$device}-mw60 { max-width: 59.8%;}
    .#{$device}-mw70 { max-width: 69.8%;}
    .#{$device}-mw80 { max-width: 79.8%;}
    .#{$device}-mw90 { max-width: 89.8%;}
    .#{$device}-mw100 { max-width: 100%;}

    //Inline
    .#{$device}-inline {
        display: inline-block;
        float: none; //to overwrite bootstrap
        vertical-align: middle;
    }
    .#{$device}-inlineWF { //inline that accepts float
        display: inline-block;
        vertical-align: middle;
    }

    //Table
    .#{$device}-dTable {
        display: table;
    }
    .#{$device}-dTableRow {
        display: table-row;
    }
    .#{$device}-dTableCell {
        display: table-cell;
    }

    //Block
    .#{$device}-block {
        display: block;
    }
    .#{$device}-overflowHidden {
        overflow: hidden;
    }

    .#{$device}-hidde {
        display: none;
    }

    //Text-align
    .#{$device}-taCenter {
        text-align: center;
    }
    .#{$device}-taLeft {
        text-align: left;
    }
    .#{$device}-taRight {
        text-align: right;
    }

    //Vertical-align
    .#{$device}-vTop {
        vertical-align: top;
    }
    .#{$device}-vBottom {
        vertical-align: bottom;
    }
    .#{$device}-vMiddle {
        vertical-align: middle;
    }

    //Float
    .#{$device}-fLeft {
        float: left;
    }
    .#{$device}-fRigth {
        float: right;
    }
    .#{$device}-noFloat {
        float: none;
    }
    .#{$device}-clear {
        clear: both;
    }
}




//Large
$device: 'lg';
@media (min-width: $screen-lg-min) {
   
    //Margins
    .#{$device}-m0{
        margin: 0;
    }
    @for $i from 0 through 12 {
        .#{$device}-mt#{$i} { 
            @include margin-top($i);    
        }
        .#{$device}-mr#{$i} { 
            @include margin-right($i);  
        }
        .#{$device}-ml#{$i} { 
            @include margin-left($i);   
        }
        .#{$device}-mb#{$i} { 
            @include margin-bottom($i); 
        }
    }

    //Paddings
    .#{$device}-p0 {
        padding: 0;
    }
    @for $i from 0 through 3 {
        .#{$device}-pt#{$i} { 
            @include padding-top($i);   
        }
        .#{$device}-pr#{$i} { 
            @include padding-right($i); 
        }
        .#{$device}-pl#{$i} { 
            @include padding-left($i);  
        }
        .#{$device}-pb#{$i} { 
            @include padding-bottom($i);    
        }
    }

    //Widths
    .#{$device}-w0{ width : 0;}

    .#{$device}-w10 { width: 9.8%;}
    .#{$device}-w17 { width: 16.3%}
    .#{$device}-w20 { width: 19.8%;}
    .#{$device}-w30 { width: 29.8%;}
    .#{$device}-w50 { width: 49.8%;}
    .#{$device}-w60 { width: 59.8%;}
    .#{$device}-w70 { width: 69.8%;}
    .#{$device}-w80 { width: 79.8%;}
    .#{$device}-w90 { width: 89.8%;}
    .#{$device}-w100 { width: 100%; }

    .#{$device}-mw10 { max-width: 9.8%;}
    .#{$device}-mw17 { max-width: 16.3%}
    .#{$device}-mw20 { max-width: 19.8%;}
    .#{$device}-mw30 { max-width: 29.8%;}
    .#{$device}-mw40 { max-width: 39.8%;}
    .#{$device}-mw50 { max-width: 49.8%;}
    .#{$device}-mw60 { max-width: 59.8%;}
    .#{$device}-mw70 { max-width: 69.8%;}
    .#{$device}-mw80 { max-width: 79.8%;}
    .#{$device}-mw90 { max-width: 89.8%;}
    .#{$device}-mw100 { max-width: 100%;}

    //Inline
    .#{$device}-inline {
        display: inline-block;
        float: none; //to overwrite bootstrap
        vertical-align: middle;
    }
    .#{$device}-inlineWF { //inline that accepts float
        display: inline-block;
        vertical-align: middle;
    }

    //Table
    .#{$device}-dTable {
        display: table;
    }
    .#{$device}-dTableRow {
        display: table-row;
    }
    .#{$device}-dTableCell {
        display: table-cell;
    }

    //Block
    .#{$device}-block {
        display: block;
    }
    .#{$device}-overflowHidden {
        overflow: hidden;
    }

    .#{$device}-hidde {
        display: none;
    }

    //Text-align
    .#{$device}-taCenter {
        text-align: center;
    }
    .#{$device}-taLeft {
        text-align: left;
    }
    .#{$device}-taRight {
        text-align: right;
    }

    //Vertical-align
    .#{$device}-vTop {
        vertical-align: top;
    }
    .#{$device}-vBottom {
        vertical-align: bottom;
    }
    .#{$device}-vMiddle {
        vertical-align: middle;
    }

    //Float
    .#{$device}-fLeft {
        float: left;
    }
    .#{$device}-fRigth {
        float: right;
    }
    .#{$device}-noFloat {
        float: none;
    }
    .#{$device}-clear {
        clear: both;
    }
}




