---
layout: default
title: Blog
permalink: /blog/
---

<h1 class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-sm-12 col-xs-12">
    Blog
</h1>

<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
    <div class="row">

        <ul class="postsList col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">

            {% for post in site.posts %}
                <li class="postsList__item">
                    {% if post.page %}
                        <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    {% else %}
                        <h3 class="title">
                            <a target="_blank" href="{{ post.externalUrl }}">{{ post.title }}</a>
                        </h3>
                    {% endif %}
                    <h6 class="date">{{ post.date | date : "%d %b %Y" }}</h6>
                </li>

            {% endfor %}

        </ul>

    </div>
</div>
