---
layout: default
---

<h1 class="home-title">Guillaume</h1>

<div class="spacer"></div>

<a href="mailto:guillaume@wuips.com">guillaume@wuips.com</a>

<div class="spacer"></div>

<p>
Frontend engineer @ <a href="https://iadvize.com">iAdvize</a><br />
<a href="http://web.polytech.univ-nantes.fr/">Polytech Nantes</a> alumni<br />
<a href="http://twitter.com/ReactNantes">ReactNantes</a> meetup team
</p>

<p>
  <a href="http://guillaume.wuips.com/CV_Guillaume-Clochard.pdf">CV</a>
  - <a href="http://github.com/guillaumewuip">Github</a>
  - <a href="https://www.linkedin.com/in/guillaume-clochard/">Linkedin</a>
  - <a href="https://twitter.com/GuillaumeWuip">Twitter</a>
</p>

<div class="spacer"></div>

<h2>Experiences</h2>

<p>
  <a href="http://iadvize.com">iAdvize</a>
  - <a href="http://stuart.com">Stuart</a>
  - <a href="http://lengow.fr">Lengow</a>
  - <a href="http://keople.net">Keople</a>
  - <a href="http://zenbus.fr">JOUL</a>
</p>

<div class="spacer"></div>

<h2>Tech Articles</h2>

<ul class="with-date">
{% assign postsSorted = site.posts | sort: 'date' | reverse %}
{% for post in postsSorted %}
  <li>
    <span class="date">{{ post.date | date: "%b %Y" }}</span>
    <span>
      <a target="_blank" href="{{ post.externalUrl }}">
        {{ post.title }}
      </a>
    </span>
  </li>
{% endfor %}
</ul>

<div class="spacer"></div>

<h2>Tech Talks</h2>

<ul class="with-date">
{% assign talksSorted = site.talks | sort: 'date' | reverse %}
{% for talk in talksSorted %}
  <li>
    <span class="date">{{ talk.date | date: "%b %Y" }}</span>
    <span>
      {% if talk.externalUrl %}
        <a target="_blank" href="{{ talk.externalUrl }}">
          {{ talk.title }}
        </a>
      {% else %}
        {{ talk.title }}
      {% endif %}
    </span>
  </li>
{% endfor %}
</ul>

<div class="spacer"></div>

<h2>Projects</h2>

<ul class="with-date projects">
{% assign projectsSorted = site.projects | sort: 'date' | reverse %}
{% for project in projectsSorted %}
  <li class="project">
    <span class="date">{{ project.date | date: "%b %Y" }}</span>
    <span>
      <span class="title">{{ project.title }}</span>

      {{ project.desc | raw }}

      <span class="tags">
        {% for tag in project.tags %}
          {{ tag }}
        {% endfor %}
      </span>
    </span>
  </li>
{% endfor %}
</ul>
