---
layout: default
---

<h1>Guillaume</h1>

<br />

<h2><a href="mailto:clochard.guillaume@gmail.com">clochard.guillaume@gmail.com</a></h2>

<br />

<p>Frontend developer @ <a href="https://iadvize.com">iAdvize</a></p>
<p><a href="http://web.polytech.univ-nantes.fr/">Polytech Nantes</a> alumni</p>
<p><a href="http://twitter.com/ReactNantes">ReactNantes</a> meetup team</p>

<br />

<p>
  <a href="http://guillaume.wuips.com/CV_Guillaume-Clochard.pdf">CV</a>
  - <a href="http://github.com/guillaumewuip">Github</a>
  - <a href="https://www.linkedin.com/in/guillaume-clochard/">Linkedin</a>
  - <a href="https://twitter.com/GuillaumeWuip">Twitter</a>
</p>

<h2>Experiences</h2>

<p>
  <a href="http://iadvize.com">iAdvize</a>
  - <a href="http://stuart.com">Stuart</a>
  - <a href="http://lengow.fr">Lengow</a>
  - <a href="http://keople.net">Keople</a>
  - <a href="http://zenbus.fr">JOUL</a>
</p>

<h2>Projects</h2>

<ul class="projects">
{% for project in site.projects reversed %}
  <li class="project">
    <div class="link">
      {{ project.date | date: "%b %Y" }}

      -

      {{ project.title }}
    </div>

    <div class="project-content">
      {{ project.desc | raw }}

      <br />
      <br />

      {% for tag in project.tags %}
        <p class="tag">{{ tag }}</p>
      {% endfor %}
    </div>
  </li>
{% endfor %}
</ul>

<h2>Articles</h2>

<ul>
{% for post in site.posts %}
  <li>
    <a target="_blank" href="{{ post.externalUrl }}">
      {{ post.date | date: "%b %Y" }} - {{ post.title }}
    </a>
  </li>
{% endfor %}
</ul>

<h2>Talks</h2>

<ul>
{% for talk in site.talks %}
  <li>
    {% if talk.externalUrl %}
      <a target="_blank" href="{{ talk.externalUrl }}">
        {{ talk.date | date: "%b %Y" }} - {{ talk.title }}
      </a>
    {% else %}
      <a target="_blank" href="#">
        {{ talk.date | date: "%b %Y" }} - {{ talk.title }}
      </a>
    {% endif %}
  </li>
{% endfor %}
</ul>

