            <div class="clearfix"></div>

            <footer class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 mt1 md-mt3 p1 p2">

                <div class="row">

                    <div class="col-md-10 col-md-offset-1">

                        <nav class="navigation taCenter">
                            <ul class="p0">

                                <li class="inline md-taCenter md-w17 xs-w30 m0 xs-mt1 uppercase"><a href="{{ site.url }}" class="noTextDecoration bigHover">Accueil</a></li>
                                <li class="inline md-taCenter md-w17 xs-w30 m0 xs-mt1 uppercase"><a href="{{ site.url }}/projects" class="noTextDecoration bigHover">Projets</a></li>
                                <li class="inline md-taCenter md-w17 xs-w30 m0 xs-mt1 uppercase"><a href="{{ site.url }}/about" class="noTextDecoration bigHover">A propos</a></li>
                                <li class="inline md-taCenter md-w17 xs-w30 m0 xs-mt1 uppercase"><a href="{{ site.url }}/CV_Guillaume-Clochard.pdf" class="noTextDecoration bigHover">CV</a></li>
                                <li class="inline md-taCenter md-w17 xs-w30 m0 xs-mt1 uppercase"><a href="{{ site.url }}/contact" class="noTextDecoration bigHover">Contact</a></li>

                            </ul>
                        </nav>

                    </div>


                    <div class="col-md-12 mt2 xs-mt4">


                        <div class="row">

                            <div class="col-md-5 col-sm-6 col-xs-12 inline noFloat">

                                <ul class="p0 noListStyle">
                                    <li class="h4">Guillaume Clochard</li>
                                    <li><a class="noTextDecoration" href="mailto://{{ site.email }}">{{ site.email }}</a></li>
                                </ul>

                            </div><!--

                            --><div class="col-md-7 col-sm-6 col-xs-12 inline noFloat taRight xs-taCenter p0">
                                <ul class="p0">
                                    <li class="inline pl1 pr1">
                                        <a class="noTextDecoration" href="http://twitter.com/GuillaumeWuip" target="_blank">
                                            <div class="svg twitter">{% include img/twitter.svg %}</div>
                                        </a>
                                    </li>
                                    <li class="inline pl1 pr1">
                                        <a class="noTextDecoration" href="http://github.com/guillaumewuip/" target="_blank">
                                            <div class="svg github">{% include img/github.svg %}</div>
                                        </a>
                                    </li>
                                    <li class="inline pl1 pr1">
                                        <a class="noTextDecoration" href="http://www.linkedin.com/profile/view?id=306896617" target="_blank">
                                            <div class="svg linkedin">{% include img/linkedin.svg %}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
    </body>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43481520-1', 'wuips.com');
        ga('send', 'pageview');

    </script>

</html>
