<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="author" content="Guillaume" />

  <meta
    name="twitter:creator"
    content="@guillaumewuip"
  />
  <meta
    name="twitter:site"
    content="@guillaumewuip"
  />
  <meta
    name="twitter:description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }} {% endif %}"
  />

  {% if page.title %}

    <meta property="article:author" content="Guillaume" />
    <meta property="article:publisher" content="https://http://guillaume.wuips.com/" />

  {% endif %}

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {% seo title=false %}
  {% feed_meta %}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?{{ site.time | date: '%s%N' }}" />
</head>
