
<header class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10
    col-md-offset-1 md-mt2 md-mb3 {% if include.style == transparent %}
    transparent {% endif %}">

    <div class="row">

        <div class="logo col-xs-12 col-md-4 inline noFloat">
            <a class="noTextDecoration" href="{{ site.url }}">
                <h1>Guillaume</h1>
                <h2>Student, web developer</h2>
            </a>
        </div><!--

        --><nav class="navigation col-xs-12 col-md-8 mt2 md-mt0 taCenter
            md-taRight inline noFloat">
            <ul class="inline">
                <li class="inline uppercase m0"><a class="noTextDecoration
                        bigHover" href="{{ site.url }}/projects">Projects</a></li>
                <li class="inline uppercase m0"><a class="noTextDecoration
                        bigHover" href="{{ site.url }}/about">About me</a></li>
                <li class="inline uppercase m0"><a class="noTextDecoration bigHover" href="{{ site.url }}/contact">Contact</a></li>
            </ul>
        </nav>

    </div>

</header>
