
/**
 * Font
 */





/**
 * Calcul de la taille du texte en rem
 */
@mixin font-size($font-size){
    font-size: $font-size +px;
    font-size: $font-size / $base-font-size +rem;
}
@mixin line-height($line-height){
    line-height: $line-height +px;
    line-height: $line-height / $base-font-size +rem;
}

/**
 * Font Family
 */
@mixin font-family{
    font-family: Lato, Helvetica, Arial, sans-serif;
}





//Font-weight
@for $i from 1 through 8 {
    .ftw#{$i}{
        font-weight: $i*100;
    }
}


//Color
.cfff{
    color: $white;
}
.cGrisMoyen{
    color: $grisMoyen;
}
.cGrisDark{
    color: $grisDark;
}


.uppercase {
    text-transform: uppercase;
}


//Letter-Spacing
@for $i from 1 through 3 {
    .ltSpace#{$i}{
        letter-spacing: $i +px;
    }
}



/**
 * Titres
 */


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    @include font-family;
    color: $grisMoyen;
    letter-spacing: 1px;
}

h1, .h1 {
    @include font-size(50);
    @include line-height(62);

    @include margin-top(2);
    @include margin-bottom(2);

    font-weight: 100;
}

h2, .h2 {
    @include font-size(32);
    @include line-height(42);

    @include margin-top(1.8);
    @include margin-bottom(1);

    font-weight: 100;
}

h3, .h3 {
    @include font-size(24);
    @include line-height(34);

    @include margin-top(1.6);
    @include margin-bottom(1);

    font-weight: 300;
}

h4, .h4 {
    @include font-size(24);
    @include line-height(24);

    //margin-bottom: 25px;

    font-weight: 300;
}

h5, .h5 {
    @include font-size(20);
    @include line-height(20);
}

h6, .h6 {
    @include font-size(20);
    @include line-height(20);

    font-style: italic;
}

.subtitle {
    @include font-size(20);
    @include line-height(38);

    font-weight: 300;

    font-style: italic;
}



/**
 * Content text
 */


p, .p,
li,
label,
span,
button,
input[type="text"], input[type="email"],
figcaption {

    @include font-family;
    @include font-size(18);
    @include line-height(28);

    font-weight: 300;

    color: $grisDark;

    letter-spacing: 2px;
}

p, .p, {
    @include margin(1,0,1.2,0);
}





/**
 * Link
 */


a {
    @include transition(0.1, color);
    color: $grisMoyen;
    text-decoration: none;

    &:hover {
        color: $olive;
        text-decoration: none;
    }
}


.noTextDecoration {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.bigHover {

    @include transition(0.1, padding-bottom);

    &:hover {
        padding-bottom: 3px;
        border-bottom: 2px solid rgba($olive, 1.0);
    }
}


/**
 * Button
 */

button, .button {
    display: inline-block;

    @include padding(1,1,1,1);

    @include transition(0.1, all);

    background: transparent;
    border: none;
    border : 1px solid $grisMoyen;
    border-radius: 2px;

    &:not(.notHover):hover {
        color: $olive;
        border-color: $olive;
    }
}

a.button {
    text-decoration: none;
}





/**
 * Tag
 */

.tag {
    @extend .button;
    @include padding(0.3,0.5,0.3,0.5);
    @include font-size(14);
    @include line-height(24);
}
