---
layout: default
title: Blog
use:
    - posts

---

<h1 class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-sm-12 col-xs-12">
    Blog
</h1>

<!--<p class="col-md-8 col-md-offset-1 col-sm-10 col-sm-offset-1 col-sm-12 col-xs-12 mb3">-->
    <!--Il m'arrive d'écrire quelques articles ici.-->
    <!--J'y parle principalement de technique et développement web mais pas que.-->
    <!--Il peut m'arriver de partager des réflexions sur le monde du numérique, sur des découvertes.-->
<!--</p>-->

<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
    <div class="row">

        {% if data.posts is empty %}

            <div class="col-xs-12">
                <p class="subtitle">Rien de prêt pour l'instant, ça arrive ;-)</p>
            </div>

        {% else %}

            <ul class="postsList col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">

                {% for post in data.posts %}
                    <li class="postsList__item">
                        {% if post.page %}
                            <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        {% else %}
                            <h3 class="title">
                                <a target="_blank" href="{{ post.externalUrl }}">{{ post.title }}</a>
                            </h3>
                        {% endif %}
                        <h6 class="date">{{ post.date | date('d M Y', timezone="Europe/Paris") }}</h6>
                    </li>

                {% endfor %}

            </ul>

        {% endif %}

    </div>
</div>
