---
---

$white: #fff;
$black: #000;
$dark: #222;
$grey: #888;
$lightgrey: #f7f7f7;
$green: rgb(59, 159, 111);

$breakpoint: 700px;

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400&display=swap');

// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);
  }
}

body[data-theme="dark"] { @include dark-appearance; }

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

html, body {
  background-color: $white;
}

html {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $black;
  font-family: "Anonymous Prop", Courier, monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
  padding: 0 1rem;
}

.back-link, .content {
  margin: 0 auto;
}

.back-link {
  padding-top: 4rem;
}

.content {
  margin: 0 auto;
  max-width: 870px;
  padding-bottom: 8rem;
}

.content.home {
  max-width: 660px;
}

article {
  display: grid;
  grid-template-columns: [main] 72% [right-sidebar] 28% [right-edge];
}

@media only screen and (max-width: $breakpoint) {
  article {
    grid-template-columns: [main] 1fr [right-sidebar] 0 [right-edge];
  }
}

article > * {
  grid-column: main;
}

article > figure {
  grid-column: main / right-edge;
}

h1 {
  margin-top: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

h1.title {
  font-size: 2rem
}

h2 {
  margin-top: 2.2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

h3 {
  margin-top: 1.2rem;
  font-size: 1.1rem;
  font-weight: 600;
}

hr {
  margin: 4rem 0;
  text-align: center;
  border: 0;

  &:before {
    content: "...";
    color: $dark;
  }
}

p, ul, ol, table, figure, .highlighter-rouge {
  margin: 0.9rem 0 0.9rem;
}

ul, ol {
  list-style: none;
}

li {
  margin: 0.4rem 0 1.2rem;
  padding-left: 2.4rem;
}

ol {
  counter-reset: li;
}

@for $i from 1 through 20 {
  ol[start="#{$i}"] {
    counter-reset: li $i;
  }
}

li > p {
  margin: 0.4rem 0;
}

ul li {
  position: relative;

  &:before {
    content: "\2022";
    position: absolute;
    top: 0;
    right: calc(100% - 24px);
    color: $dark;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    direction: rtl
  }
}

ol li {
  counter-increment: li;
  position: relative;

  &:before {
    content: "." counter(li);
    position: absolute;
    top: 0;
    right: calc(100% - 28px);
    color: $dark;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    direction: rtl
  }
}

*:target {
  background-color: yellow;
}

table, th, td {
  width: 100%;
  border: thin solid $dark;
  border-collapse: collapse;
  padding: 0.4rem;
}

blockquote {
  margin: 2rem 0 3rem;
  padding: 0.6rem 0 0.6rem 1.2rem;
  font-style: italic;
  border-left: 3px solid $dark;

  p {
    margin: 0
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figure {
  display: grid;
  grid-template-columns: [main] 72% [right-sidebar] 28% [right-edge];
  margin: 2rem 0 3rem;
}

@media only screen and (max-width: $breakpoint) {
  figure {
    grid-template-columns: [main] 1fr [right-sidebar] 0 [right-edge];
  }
}

figure > *:first-child {
  grid-column: main;
  max-width: 100%;
  margin-bottom: 0;
}

figure > figcaption {
  grid-column: right-sidebar;
  align-self: end;
  border-left: 3px solid $dark;
  margin-left: 1.4rem;
  padding: 0.2rem 0 0.2rem 0.8rem;
  font-size: 0.9rem;
}

@media only screen and (max-width: $breakpoint) {
  figure > figcaption {
    grid-column: main;
    margin-left: 0;
    margin-top: 0.8rem;
    border-left: 0;
    padding: 0.2rem;
    text-align: center;
  }
}

figcaption p {
  margin: 0;
}

a {
  color: $black;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient($dark, $dark);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  padding: 0 2px;

  &:hover {
    background: $dark;
    color: $white;
  }
}

code {
  color: $white;
  background-color: $dark;
  padding: 2px 4px 3px;
  white-space: nowrap;
}

pre {
  margin: 0;
  padding: 0.6rem 0 0.6rem 1.2rem;
  font-size: 0.9rem;
}

li .highlighter-rouge {
  margin: 1rem 0 1.2rem;
}

pre code {
  display: block;
  overflow-x: auto;
  white-space: pre;
  color: inherit;
  background-color: transparent;
}

// from https://github.com/spsarolkar/rouge-theme-preview/blob/gh-pages/css/syntax-base16.dark.css
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #d0d0d0;
  background-color: #151515;
}
.highlight .err {
  color: #151515;
  background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #505050;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #d28445;
}
.highlight .kd {
  color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959;
}
.highlight .ss {
  color: #90a959;
}

// Custom for pages

.home-title {
  padding-top: 40vh;
}

.spacer {
  margin: 5rem 0;
}

ul.with-date {
  li {
    display: flex;
    margin: 0.8rem 0;
    padding-left: 0;

    .date {
      color: $green;
      flex-shrink: 0;
      margin-right: 1em;
    }

    &:before {
      display: none;
    }
  }
}


.project {
  margin-bottom: 1rem;

  .title {
    display: block;
    margin-bottom: 0.2rem;
  }

  .tags {
    display: block;
    margin-top: 0.4rem;
    font-size: 0.9rem;
    color: $grey;
  }
}
